<div class="jumbtron">
  <div class="text-center">
    <h1 class="display-2">Hello I'm " Ahmed Magdy "</h1>
    <h3>I'm Angular & Front-End Developer</h3>
    <h2 class="display-4" style="font-family: 'Ruwudu', serif">
      كن التغير الذي تريد أن تراه في العالم.
    </h2>
  </div>
</div>
<!-- Code Saving -->
<!-- My info part -->
<div style="background-color: #fedc00">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/image3.png"
          class="d-block w-50"
          style="margin-left: 50%"
          alt="..."
        />
      </div>
      <h1 class="display-1">Who am I ?</h1>
      <p>
        Hello! I am working as a graphic designer for the last 6+ <br />
        years and have exceptional knowledge in developing<br />
        graphics, audio and visual images for product illustrations,<br />logos
        and websites.I am passionate about development <br />especially in the
        field of FrontEnd development, with <br />high skills in Js and HTML &
        CSS.
      </p>
      <h4 style="margin-left: 8%; color: black">
        Yup This is me 👇, you will get it when you Study CS🤐
      </h4>
      <img
        src="https://media.giphy.com/media/citBl9yPwnUOs/giphy.gif"
        style="max-width: 20%; margin-left: 8%; margin-top: 1%"
      />
    </div>
  </div>
  <!-- My Break Part -->
  <div class="Break">
    <h1 class="display-2" style="margin-top: 9%; text-align: center">
      Take Break and Watch this Cat Code
    </h1>
    <img
      src="https://media.giphy.com/media/aNqEFrYVnsS52/giphy.gif"
      style="width: 1200px; margin-left: 10%; margin-top: 5%"
    />
  </div>
  <br />
  <br /><br />

  <!-- My skills Part -->

  <div class="skills" style="height: 500px">
    <h1 style="color: black; text-align: center">My Skills</h1>
    <br /><br /><br />
    <div class="container">
      <div class="progress" style="height: 30px; border: #000000">
        <div class="progress-bar" style="width: 10%; height: 30px">10%</div>

        <div class="progress-bar bg-warning" style="width: 30%; height: 30px">
          30%
        </div>
        <div class="progress-bar bg-danger" style="width: 60%; height: 30px">
          60%
        </div>
      </div>

      <br /><br /><br />

      <div class="Cards">
        <div
          class="card text-white bg-primary mb-3"
          style="max-width: 18rem; margin: 4%"
        >
          <div class="card-header" style="text-align: center">Angular</div>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">
              WebDevelop FrameWork
            </h5>
          </div>
        </div>

        <div
          class="card text-white bg-warning mb-3"
          style="max-width: 18rem; margin: 4%"
        >
          <div class="card-header" style="text-align: center">BootStrap</div>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">
              WebDevelopment Library
            </h5>
          </div>
        </div>

        <div
          class="card text-white bg-danger mb-3"
          style="max-width: 18rem; margin: 4%"
        >
          <div class="card-header" style="text-align: center">HTML&CSS</div>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">
              WebDevelopment Basics
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Portfolio">
    <h1 class="display-1" style="text-align: center">My Portfolio</h1>
    <div class="card-deck" style="margin-bottom: 4%">
      <div class="card" style="margin-bottom: 4%">
        <a
          href="http://www.behance.net/gallery/176175425/TravelMate-Travel-App"
        >
          <img
            class="card-img-top"
            src="assets/page1.png"
            alt="Card image cap"
          />
        </a>
      </div>
    </div>
    <div class="card">
      <a
        href="https://www.behance.net/gallery/176794517/LuxeLivings-Case-Study"
      >
        <img class="card-img-top" src="assets/page2.png" alt="Card image cap" />
      </a>
    </div>
  </div>

  <div class="Break2">
    <h1 style="text-align: center">Thats All !</h1>
    <img
      src="https://media.giphy.com/media/eKOUDS2AVWiQfOS2J1/giphy.gif"
      style="width: 1200px; margin-left: 10%; margin-top: 5%"
    />
  </div>
<!-- Footer Part -->
  <div class="foot">
    <footer class="nb-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="about">
              <p>
                Web developers design and build websites. They are typically responsible for the appearance,
                 of the site and technical aspects, such as site speed and how much traffic the site can handle. 
                 Web developers may also create site content that requires technical features.They are sometimes 
                 known as web designers or full-stack developers if they can do both front-end and back-end development.
              </p>
            </div>
          </div>

         

          <div class="col-md-3 col-sm-6">
            <div class="footer-info-single">
              <h2 class="title">Reach Me</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="http://www.behance.com/ahmedjunior" title=""
                    ><i class="fa fa-angle-double-right"></i> Behance</a
                  >
                </li>
                <li>
                  <a href="http://www.Github.com/Magdy78" title=""
                    ><i class="fa fa-angle-double-right"></i> Github</a
                  >
                </li>
                <li>
                  <a href="http://www.whatsapp.com/" title=""
                    ><i class="fa fa-angle-double-right"></i> Contact Us</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-info-single">
              <h2 class="title">Security & privacy</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""
                    ><i class="fa fa-angle-double-right"></i> Terms Of Use</a
                  >
                </li>
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""
                    ><i class="fa fa-angle-double-right"></i> Privacy Policy</a
                  >
                </li>
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""
                    ><i class="fa fa-angle-double-right"></i> Return / Refund
                    Policy</a
                  >
                </li>
                <li>
                  <a href="http://www.nextbootstrap.com/" title=""
                    ><i class="fa fa-angle-double-right"></i> Store Locations</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
